{% extends "base.html" %}

{% block title %}{{ page.number }} {{ page.title }} - PyFax{% endblock %}

{% block screen %}
<main class="screen" aria-label="{{ page.title }}"
      data-before="{{ page.before or '' }}" data-after="{{ page.after or '' }}">
{% for row in page.rows %}
  <div class="row">
    {%- for cell in row -%}
      {%- if cell.link -%}
        <a href="{{ cell.link }}.html" class="{{ cell | classes }}">{{ cell.text }}</a>
      {%- else -%}
        <span class="{{ cell | classes }}">{{ cell.text }}</span>
      {%- endif -%}
    {%- endfor -%}
  </div>
{% endfor %}
</main>
{% endblock %}
