<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="htmx-config" content='{"includeIndicatorStyles": false, "allowEval": false}'>
  <title>The Colossal Cupboard</title>
  <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='htmx.min.js') }}" defer></script>
</head>
<body>
  <h1>The Colossal Cupboard</h1>
  {% block content %}{% endblock %}
</body>
</html>
